
html,body{
    height:100%;
}

h3{
    display: inline-block;
    background-color: #4bbffc;
    color: #fcfcfc;
    font-family: sans-serif;
    word-spacing:2.7px;
}

.container{
    float: left;
    background-color:whitesmoke;
    
}

.container a,li{
    margin-right:6px;
    background-color: #f8f8f8;
    font-family: serif;
    color:black;
    display: block;
    list-style: none;
    padding: 3px;
    margin-left:-17px;
    text-decoration: none;
    //border-bottom:1px solid #313030;
    line-height: 2;
    margin-top: -3px;
    
}

ul li:hover{
color: #1c9bea;
text-decoration: underline;
margin-left: 12px;
}

